---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Data-Acquisition</h1>

---  
<h1 align="center">Lecture 3 (Loading, Converting, and Writing JSON Files)</h1>

----
<img align="left" width="400" src="images/acq.PNG"  >
<img align="center" width="400" height="650"  src="images/scrap.PNG"  >

# Table of Contents

## Loading, Converting, and Writing JSON Files

- [Introduction: Douglas Crockford’s JSON Saga](#introduction-douglas-crockfords-json-saga)
- [The Structure of a JSON File](#the-structure-of-a-json-file)
- [Lists, Sets, and Dictionaries](#lists-sets-and-dictionaries)
- [Nested Structures](#nested-structures)
- [Metadata](#metadata)
- [Missing Values and Different Data Types](#missing-values-and-different-data-types)

## Loading and Reading JSON Data in Python

- [Using the `requests.get()`, `json.loads()`, and `json.dumps()` Functions](#using-the-requestsget-jsonloads-and-jsondumps-functions)
- [Searching Along the JSON Index Path](#searching-along-the-json-index-path)
- [Looping Across Records to Extract Datapoints](#looping-across-records-to-extract-datapoints)
- [Using `pd.read_json()` and `pd.json_normalize()` to Store JSON Data in a Data Frame](#using-pdreadjson-and-pdjsonnormalize-to-store-json-data-in-a-data-frame)

## Situations with JSON Data

- [Situation 1: No nesting, no metadata](#situation-1-no-nesting-no-metadata)
- [Situation 2: Nesting, but no metadata](#situation-2-nesting-but-no-metadata)
- [Situation 3: Metadata](#situation-3-metadata)

## Saving JSON Files and Converting Data Frames to JSON

- [Saving Existing JSON Files to Disk](#saving-existing-json-files-to-disk)
- [Converting Tabular DataFrames to JSON](#converting-tabular-dataframes-to-json)
abular-dataframes-to-json)

## Introduction: Douglas Crockford's JSON Saga

- **JSON Definition:** Stands for **JavaScript Object Notation**, widely used for data transfer over the Internet, especially in web-based systems like APIs.

- **Attribution to Douglas Crockford:** Douglas Crockford, a JavaScript architect at Yahoo!, is credited with JSON's development. However, he emphasizes that he didn't invent it but rather discovered, named, and described its utility.

- **Crockford's Perspective:** In his own words, "I discovered JSON. I do not claim to have invented JSON because it already existed in nature."

- **Origins of JSON:** Crockford delves into the early struggles and efforts to create a universal and lightweight language for data transfer in a [talk](insert_link_here).

- **Talk Description:** Crockford's talk lasts around 50 minutes, where he narrates the origin story of JSON and the challenges faced in establishing it as a go-to data format. Despite its length, the talk is highly recommended for a comprehensive understanding of JSON's development.

In [2]:
from IPython.display import IFrame
IFrame(src="https://www.youtube.com/embed/-C-JoyNuQJs", width="560", height="315")

## Douglas Crockford's Insights on JSON Pronunciation and Objectives

- **Pronunciation:** For clarification, Douglas Crockford pronounces "JSON" as "Jay-Sin," akin to the first name. However, he humorously mentions that he "strictly doesn't care" about how others choose to pronounce it.

- **Objective of JSON Development (2001):**
  - **Universal Nature:** JSON was developed in 2001 with the primary goal of creating a language that works seamlessly on every browser. The objective is universality, ensuring data readability across different environments.

  - **Lightweight Design:** JSON is deliberately designed to be as lightweight as possible. This means the code is compact and sacrifices features like comments, processing instructions, or attributes to minimize its size.

  - **Faster Data Interchange:** The lightweight construction of JSON contributes to its speed, making it significantly faster than alternative data interchange languages like XML.

  - **Universality and Minimalism:** JSON's minimalist approach helps achieve universality. A lightweight language integrates seamlessly into existing infrastructures without requiring additional software or extraneous code. Its minimalist data structure aligns with every programming language's concept of data.

- **Crockford's Perspective:** In Crockford's own words, this design philosophy aims to create a data format that is universal, lightweight, and works effortlessly within diverse programming environments.

> One of the key design goals behind JSON was minimalism. My idea was that the less we have to agree on in order to inter-operate, the more likely we're going to be able to inter-operate well. If the interfaces are really simple, we can easily connect, and if the interfaces are really complicated, the likelihood that something's going to go wrong goes way, way up. So I endeavored to make JSON as simple as possible.

Before we get to examples of using JSONs in Python, load the following libraries:

In [4]:
import numpy as np
import pandas as pd
import json
import requests
import sys
sys.tracebacklimit = 0 # turn off the long tracebacks on error messages
#sys.tracebacklimit = None # use to turn tracebacks back on if needed

# Python `json` Package

Python includes a powerful built-in package called `json` that facilitates working with JSON data..

## Features

- **Serialization:** Convert Python objects to JSON format.
- **Deserialization:** Parse JSON data into Python objects.
- **Compatibility:** Supports standard JSON data types.
- **Readability:** Provides methods for pretty-printing JSON data.

## Example Usage

```python
import json

# Serialize Python object to JSON
data = {"name": "John", "age": 25}
json_string = json.dumps(data)

# Deserialize JSON to Python object
parsed_data = json.loads(json_string)

# Convert from JSON to Python
If you have a `JSON string`, you can parse it by using the `json.loads()` method.

In [3]:
import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'
print(x)
print(type(x))
# parse x:
y = json.loads(x)
print(y)
print(type(y))
# the result is a Python dictionary:
print(y["age"])

{ "name":"John", "age":30, "city":"New York"}
<class 'str'>
{'name': 'John', 'age': 30, 'city': 'New York'}
<class 'dict'>
30

# Convert from Python to JSON
If you have a Python object, you can convert it into a `json String` by using the `json.dumps()` method.

In [4]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
print(type(x))

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)
print(type(y))

<class 'dict'>
{"name": "John", "age": 30, "city": "New York"}
<class 'str'>

**You can convert Python objects of the following types, into JSON strings:**

- dict
- list
- tuple
- string
- int
- float
- True
- False
- None

**Example**
- Convert Python objects into JSON strings, and print the values:

In [5]:
import json

print("Dictionary:")
json_dict = json.dumps({"name": "John", "age": 30})
print(json_dict, type(json_dict))

print("\nList:")
json_list = json.dumps(["apple", "bananas"])
print(json_list, type(json_list))

print("\nTuple:")
json_tuple = json.dumps(("apple", "bananas"))
print(json_tuple, type(json_tuple))

print("\nString:")
json_string = json.dumps("hello")
print(json_string, type(json_string))

print("\nInteger:")
json_int = json.dumps(42)
print(json_int, type(json_int))

print("\nFloat:")
json_float = json.dumps(31.76)
print(json_float, type(json_float))

print("\nBoolean (True):")
json_true = json.dumps(True)
print(json_true, type(json_true))

print("\nBoolean (False):")
json_false = json.dumps(False)
print(json_false, type(json_false))

print("\nNone:")
json_none = json.dumps(None)
print(json_none, type(json_none))

Dictionary:
{"name": "John", "age": 30} <class 'str'>

List:
["apple", "bananas"] <class 'str'>

Tuple:
["apple", "bananas"] <class 'str'>

String:
"hello" <class 'str'>

Integer:
42 <class 'str'>

Float:
31.76 <class 'str'>

Boolean (True):
true <class 'str'>

Boolean (False):
false <class 'str'>

None:
null <class 'str'>

- **When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:**

| Python      | JSON         |
|:------------|:-------------|
| `dict`      | `Object`     |
| `list`      | `Array`      |
| `tuple`     | `Array`      |
| `str`       | `String`     |
| `int`       | `Number`     |
| `float`     | `Number`     |
| `True`      | `true`       |
| `False`     | `false`      |
| `None`      | `null`       |

**Example**
- Convert JSON strings into Python Objects, and print the values:

In [7]:
# JSON strings
json_dict = '{"name": "John", "age": 30}'
json_list = '["apple", "bananas"]'
json_tuple = '["apple", "bananas"]'
json_string = '"hello"'
json_int = '42'
json_float = '31.76'
json_true = 'true'
json_false = 'false'
json_none = 'null'

# Convert JSON strings to Python objects
python_dict = json.loads(json_dict)
python_list = json.loads(json_list)
python_tuple = json.loads(json_tuple)
python_string = json.loads(json_string)
python_int = json.loads(json_int)
python_float = json.loads(json_float)
python_true = json.loads(json_true)
python_false = json.loads(json_false)
python_none = json.loads(json_none)

# Print the values
print("Dictionary:", python_dict, type(python_dict))
print("List:", python_list, type(python_list))
print("Tuple:", python_tuple, type(python_tuple))
print("String:", python_string, type(python_string))
print("Integer:", python_int, type(python_int))
print("Float:", python_float, type(python_float))
print("Boolean (True):", python_true, type(python_true))
print("Boolean (False):", python_false, type(python_false))
print("None:", python_none, type(python_none))

Dictionary: {'name': 'John', 'age': 30} <class 'dict'>
List: ['apple', 'bananas'] <class 'list'>
Tuple: ['apple', 'bananas'] <class 'list'>
String: hello <class 'str'>
Integer: 42 <class 'int'>
Float: 31.76 <class 'float'>
Boolean (True): True <class 'bool'>
Boolean (False): False <class 'bool'>
None: None <class 'NoneType'>

- **When you convert from JSON to Python,JSON (JavaScript)  are converted into the Python objects equivalent:**

| JSON         | Python      |
|:-------------:|:------------:|
| `Object`     | `dict`      |
| `Array`      | `list`      |
| `Array`      | `tuple`     |
| `String`     | `str`       |
| `Number`     | `int`       |
| `Number`     | `float`     |
| `true`       | `True`      |
| `false`      | `False`     |
| `null`       | `None`      |

**Example**
- Convert a Python object containing all the legal data types:

In [6]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))
print(type(json.dumps(x)))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}
<class 'str'>

## Format the Result
The example above prints a JSON string, but it is not very easy to read, with no `indentations` and line breaks.

The `json.dumps()` method has parameters to make it easier to read the result:

In [12]:
x

{'name': 'John',
 'age': 30,
 'married': True,
 'divorced': False,
 'children': ('Ann', 'Billy'),
 'pets': None,
 'cars': [{'model': 'BMW 230', 'mpg': 27.5},
  {'model': 'Ford Edge', 'mpg': 24.1}]}

In [14]:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [10]:
import json

# Python dictionary
data = {"name": "John", "age": 30}

# Convert to formatted JSON string
formatted_json = json.dumps(data, indent=2)

# Print the formatted JSON string
print(f"{formatted_json}")

{
  "name": "John",
  "age": 30
}

> **You can also define the separators, default value is (", ", ": "), which means using a comma and a space to separate each object, and a colon and a space to separate keys from values:**

## Example
- **Use the separators parameter to change the default separator:**

- **`separators=(". ", " = ")`:** This parameter is optional and used in the `json.dumps()` function. It enables you to define custom separators for the resulting JSON string.
  - The first element of the tuple (`". "`) specifies the separator between` item`s in a JSON object.
  - The second element (`" = "`) determines the separator betwee`n ke`ys an`d valu`es in a JSON object.
  - In this specific case, it would create a JSON string with dots and spaces between items and equal signs and spaces between keys and values.

In [8]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "city" = "New York"\n}'

## Order the Result
The `json.dumps()` method has parameters to `order` the keys in the result:

**Example**- 
Use the sort_keys parameter to specify if the result should be sorted or not:

In [18]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

## The Structure of a JSON File
The biggest difference between JSON (and other data interchange formats like XML, PHP, and YAML) and CSV is that JSON accomodates **tree-based** data structures, whereas CSV only handles **tabular** data. Many real-world applications require a tree-based structure for data. For example, here are the first two records from fake data from a business's customer records:

In [5]:
users = requests.get("https://jsonplaceholder.typicode.com/users")
print(users.text[0:1110])

[
  {
    "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
      "name": "Romaguera-Crona",
      "catchPhrase": "Multi-layered client-server neural-net",
      "bs": "harness real-time e-markets"
    }
  },
  {
    "id": 2,
    "name": "Ervin Howell",
    "username": "Antonette",
    "email": "Shanna@melissa.tv",
    "address": {
      "street": "Victor Plains",
      "suite": "Suite 879",
      "city": "Wisokyburgh",
      "zipcode": "90566-7771",
      "geo": {
        "lat": "-43.9509",
        "lng": "-34.4618"
      }
    },
    "phone": "010-692-6593 x09125",
    "website": "anastasia.net",
    "company": {
      "name": "Deckow-Crist",
      "catchPhrase": "Proactive didactic contingency",
      "bs": "synergize scalable supply-chains"
    }

In [8]:
pd.read_json('https://jsonplaceholder.typicode.com/users')

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

There are several elements of the JSON format that we need to discuss. 

### Lists, Sets, and Dictionaries
First, notice the opening square brace `[`. This character tells Python to read all the following records as elements of a **list**. In a Python list, the order of the elements matters and elements can be repeated, but are not given names. The first element is denoted with index 0, the second element is denoted with index 1, and so on. For example:

In [4]:
my_list = [5,8,-9]
my_list[0]

5

Within the JSON syntax, each individual element of the list is a **set**, denoted by curly braces `{` and `}`. A Python set differs from a Python list in that the order of the elements does not matter (it sorts the elements automatically), it doesn't allow repetition, and it allows the elements to be named. For example, in the following code, notice how the repeated 5s are removed and how the elements are sorted from smallest to largest:

In [5]:
my_set = {5,5,5,8,-9}
my_set

{-9, 5, 8}

It's only possible to use call individual elements of a set if those elements are given distinct names:

In [6]:
my_set = {'larry':5, 'curly':8, 'moe':-9}
my_set['larry']

5

In Python, sets in which elements of a set have names are called **dictionaries**. The names are called **keys**, and the elements themselves are called **values**. So in this case, an element of the dictionary has a key of "larry" and a value of 5. Like sets, dictionaries enforce no repetition, but they apply this restriction to the keys only: multiple keys can have the same value, but every value must have a distinct key. In this example, I define the key "larry" twice, and only the last "larry" entered into the dictionary definition is saved:

In [7]:
my_set = {'larry':15, 'larry':10, 'curly':10, 'moe':-9}
my_set

{'larry': 10, 'curly': 10, 'moe': -9}

That means that JSON notation is the same as a **list in which each element is a dictionary** in Python. Every dictionary represents one record in the data, and when we convert the data to a tabular dataframe, each record will occupy one row in the data.

### Nested Structures
JSON can store data structures that are awkward or impossible for CSV. We can convert JSON formats to tabular formats to store the data in a data frame, but in doing so, we lose information about which features are nested within other fields. 

Let's return to the example of the customer records stored in JSON format.  In these data, some features are themselves dictionaries that contain additional features, resulting in a nested and tree-like shape to the data. The first record looks like:

In [16]:
print(users.text[0:560])

[
  {
    "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
      "name": "Romaguera-Crona",
      "catchPhrase": "Multi-layered client-server neural-net",
      "bs": "harness real-time e-markets"
    }
  },

For this customer, we have the ID number, name, username, and email address. So far we can easily place these values in the same row of a table to store the same information. But the next key, `address`, is set equal to a dictionary, as indicated by the additional set of curly braces. Within the address field, we have data on the customer's street, suite, city, and ZIP code. We also have a field, `geo`, equal to yet another dictionary that contains the latitude and longitude coordinates of the address. The structure then returns to the first level of nesting, providing the phone number and website, before introducing another branch for company with three sub-fields: name, catch phrase, and business slogan. In all, the structure of this JSON data is best described with the following tree:

In [17]:
import pandas as pd

data = [
    {
        "id": 1,
        "name": "Leanne Graham",
        "username": "Bret",
        "email": "Sincere@april.biz",
        "address": {
            "street": "Kulas Light",
            "suite": "Apt. 556",
            "city": "Gwenborough",
            "zipcode": "92998-3874",
            "geo": {
                "lat": "-37.3159",
                "lng": "81.1496"
            }
        },
        "phone": "1-770-736-8031 x56442",
        "website": "hildegard.org",
        "company": {
            "name": "Romaguera-Crona",
            "catchPhrase": "Multi-layered client-server neural-net",
            "bs": "harness real-time e-markets"
        }
    }
]

df = pd.json_normalize(data)

df

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets

<img src="https://github.com/jkropko/DS-6001/raw/master/localimages/jsontree.png" width=400>

This tree can only be placed into a table, as we must do to work with a data frame, if we lose the information about nesting and instead treat the 15 distinct features as 15 columns in the data frame.

### Metadata
In addition to nesting, JSON is an ideal format for placing metadata in the same file as the main data. Metadata is "[data that provides information about other data](https://en.wikipedia.org/wiki/Metadata)". Metadata might describe the date the data were last accessed, provide the stable URL for accessing the data, might credit authorship or describe copyright, and so on, prior to displaying information about each of the records in the data. In general, JSON formats with metadata can look like this:

<img src="https://github.com/jkropko/DS-6001/raw/master/localimages/metadata.png" width=300>

In order to convert JSON data with a metadata format to a tabular data frame, you will have to specify the name of the branch that contains the records. As with nested structures, this procedure involves losing information. In this case, we will lose the metadata.

### Missing Values and Different Data Types
After unpacking the nested structure of a JSON data file and removing metadata, there can be differences from record to record in the information stored in the file. It's possible that some records do not have data on the same set of features that other records do. Even if the same feature is present across records, it is possible that its value has one data type in some records and another data type in other records. 

For example, consider public opinion data in which records are individuals answering questions on a survey and the features include an individual ID number, the individual's rating of the Republican Candidate, the individual's rating of the Democratic candidate, and the individual's birthyear and gender. One possible way a few records can look like in JSON format (and then converted to a data frame) is:

In [28]:
case1 = '{"caseid":1.0,"ftrep":"Awful","ftdem":"Pretty good","birthyr":1960}'
case2 = '{"caseid":2.0,"ftrep":28.0,"ftdem":52.0,"birthyr":1987,"gender":2}'
case3 = '{"caseid":3.0,"ftrep":100.0,"ftdem":1.0,"gender":1}'
case_json = '[' + case1 + ',\n' + case2 + ',\n' + case3 + ']'
print(type(case_json))
print(case_json)

<class 'str'>
[{"caseid":1.0,"ftrep":"Awful","ftdem":"Pretty good","birthyr":1960},
{"caseid":2.0,"ftrep":28.0,"ftdem":52.0,"birthyr":1987,"gender":2},
{"caseid":3.0,"ftrep":100.0,"ftdem":1.0,"gender":1}]

In [29]:
df = pd.read_json(case_json)
df

   caseid  ftrep        ftdem  birthyr  gender
0       1  Awful  Pretty good   1960.0     NaN
1       2   28.0         52.0   1987.0     2.0
2       3  100.0          1.0      NaN     1.0

Take a moment to look at the raw JSON formatted data. There are some differences between the three cases. The first case did not record the individual's gender and the third case did not record the individual's birthyear. Note that in the JSON format, these features are simply absent: we do not need to explicitly code these values as missing. When we convert the data to tabular format, the cells for the missing features are filled with `NaN` missing values automatically.

Additionally, the first case records the feeling thermometer scores for the Republican and Democrat with strings: this person feels "Awful" towards the Republican and "Pretty good" towards the Democrat. For the second and third cases these ratings are coded numerically. The JSON format naturally allows the same feature to be populated by data of a different type across records. Tabular data, however, has stricter requirements for data uniformity within a column: specifically all of the data must have the same type in a column. The data frame handles that by coding all of these values with the ambiguous `object` type:

In [30]:
pd.read_json(case_json).dtypes

caseid       int64
ftrep       object
ftdem       object
birthyr    float64
gender     float64
dtype: object

In short, while it is straightforward to convert JSON data to tabular format, we can potentially lose a great deal of information in this conversion: nesting, metadata, and varying data type. In addition, tabular data inefficiently require that cells for missing values be filled with a symbol to denote missingness, to preserve the rectangular shape of the data frame.

## Loading and Reading JSON Data in Python
JSON, like CSV and ASCII, is a **text-based** system for data storage. When first loading JSON data into Python, the data will be read as a giant block of text. First we need to get Python to understand that the text is actually organized JSON data using the `json` library. Once we can work with the data as JSON, we can search through the JSON data's index path to extract particular datapoints. We can even construct loops to pull out lists of values from across the records.

### Using the `requests.get()`, `json.loads()` and `json.dumps()` Functions 
There is an important function from the `requests` library and two important functions in the `json` library for us to know when working with JSON data:

* `requests.get()` downloads data from a URL and stores it in Python's memory as a giant block of text. It also can include additional parameters to send to the website to provide information on credentials or on specifying the subset of data to collect. 

* `json.loads()` converts text into an object that Python recognizes as JSON-formatted data.

* `json.dumps()` converts JSON data into a block of text.

Consider again the JSON data on fake consumer records. The data are stored on a website called [JSON Placeholder](https://jsonplaceholder.typicode.com/), which has several excellent example JSON datasets and has resources for guiding people who are writing their own APIs. The customer data exists here: https://jsonplaceholder.typicode.com/users. Take a moment and click on this link to see how the data appear in your web browser.

To download the data, use `requests.get()`:

In [10]:
import requests
users = requests.get("https://jsonplaceholder.typicode.com/users")

To access the text of this download, use the `.text` attribute. If I want to display only the first record, I have to specify the first and last character numbers of this record, which turns out to be (after a lot of guess-and-checking) the first 560 characters:

In [11]:
print(users.text[0:560])
len(users.text[0:560])

[
  {
    "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
      "name": "Romaguera-Crona",
      "catchPhrase": "Multi-layered client-server neural-net",
      "bs": "harness real-time e-markets"
    }
  },

560

Presently, although the text above looks like it is formatted like a JSON file, Python only understands it as text (with type `str`):

In [14]:
type(users.text)

str

To get Python to read this text as JSON data, make sure the `json` library is imported (which we did at the top of this notebook), and use the `json.loads()` function. Now, to display the first record, I only have to pass the index 0, representing the first item in a list:

In [12]:
users_json = json.loads(users.text)
users_json[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874',
  'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company': {'name': 'Romaguera-Crona',
  'catchPhrase': 'Multi-layered client-server neural-net',
  'bs': 'harness real-time e-markets'}}

Instead of text, Python now recognizes `users_json` as a list:

In [13]:
type(users_json)

list

In [16]:
import pandas as pd
pd.DataFrame(users_json).sample(5)

,id,name,username,email,address,phone,website,company
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."

### Searching Along the JSON Index Path
After using `json.loads()`, Python understands the JSON data to be a list-of-lists. We can now use indices to extract particular datapoints. The records are numbers, starting with 0, and keys within particular records can be called by name.

For example, to extract the email address of the fifth customer (element 4), in the data, I type:

In [34]:
users_json[0]['email']

'Sincere@april.biz'

If we call fields that contain several nested features, Python returns a dictionary:

In [35]:
users_json[0]['address']

{'street': 'Kulas Light',
 'suite': 'Apt. 556',
 'city': 'Gwenborough',
 'zipcode': '92998-3874',
 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

To extract elements that are several levels of nesting down the JSON tree, specify the keys in order that lead to the desired element. For example, to extract the latitudinal coordinate, we navigate to the `address`, `geo`, and `lat` keys:

In [36]:
users_json[0]['address']['geo']['lat']

'-37.3159'

Finally, it may be necessary at times to covert the JSON back to text, maybe to assist in transfering the data to another platform (although I recommend using the `.to_json()` method, discussed below, for this purpose). To convert JSON back to text, use the `json.dumps()` function:

In [38]:
users_text = json.dumps(users_json)
print(users_text)
type(users_text)

[{"id": 1, "name": "Leanne Graham", "username": "Bret", "email": "Sincere@april.biz", "address": {"street": "Kulas Light", "suite": "Apt. 556", "city": "Gwenborough", "zipcode": "92998-3874", "geo": {"lat": "-37.3159", "lng": "81.1496"}}, "phone": "1-770-736-8031 x56442", "website": "hildegard.org", "company": {"name": "Romaguera-Crona", "catchPhrase": "Multi-layered client-server neural-net", "bs": "harness real-time e-markets"}}, {"id": 2, "name": "Ervin Howell", "username": "Antonette", "email": "Shanna@melissa.tv", "address": {"street": "Victor Plains", "suite": "Suite 879", "city": "Wisokyburgh", "zipcode": "90566-7771", "geo": {"lat": "-43.9509", "lng": "-34.4618"}}, "phone": "010-692-6593 x09125", "website": "anastasia.net", "company": {"name": "Deckow-Crist", "catchPhrase": "Proactive didactic contingency", "bs": "synergize scalable supply-chains"}}, {"id": 3, "name": "Clementine Bauch", "username": "Samantha", "email": "Nathan@yesenia.net", "address": {"street": "Douglas Extension", "suite": "Suite 847", "city": "McKenziehaven", "zipcode": "59590-4157", "geo": {"lat": "-68.6102", "lng": "-47.0653"}}, "phone": "1-463-123-4447", "website": "ramiro.info", "company": {"name": "Romaguera-Jacobson", "catchPhrase": "Face to face bifurcated interface", "bs": "e-enable strategic applications"}}, {"id": 4, "name": "Patricia Lebsack", "username": "Karianne", "email": "Julianne.OConner@kory.org", "address": {"street": "Hoeger Mall", "suite": "Apt. 692", "city": "South Elvis", "zipcode": "53919-4257", "geo": {"lat": "29.4572", "lng": "-164.2990"}}, "phone": "493-170-9623 x156", "website": "kale.biz", "company": {"name": "Robel-Corkery", "catchPhrase": "Multi-tiered zero tolerance productivity", "bs": "transition cutting-edge web services"}}, {"id": 5, "name": "Chelsey Dietrich", "username": "Kamren", "email": "Lucio_Hettinger@annie.ca", "address": {"street": "Skiles Walks", "suite": "Suite 351", "city": "Roscoeview", "zipcode": "33263", "geo": {"lat": "-31.8129", "lng": "62.5342"}}, "phone": "(254)954-1289", "website": "demarco.info", "company": {"name": "Keebler LLC", "catchPhrase": "User-centric fault-tolerant solution", "bs": "revolutionize end-to-end systems"}}, {"id": 6, "name": "Mrs. Dennis Schulist", "username": "Leopoldo_Corkery", "email": "Karley_Dach@jasper.info", "address": {"street": "Norberto Crossing", "suite": "Apt. 950", "city": "South Christy", "zipcode": "23505-1337", "geo": {"lat": "-71.4197", "lng": "71.7478"}}, "phone": "1-477-935-8478 x6430", "website": "ola.org", "company": {"name": "Considine-Lockman", "catchPhrase": "Synchronised bottom-line interface", "bs": "e-enable innovative applications"}}, {"id": 7, "name": "Kurtis Weissnat", "username": "Elwyn.Skiles", "email": "Telly.Hoeger@billy.biz", "address": {"street": "Rex Trail", "suite": "Suite 280", "city": "Howemouth", "zipcode": "58804-1099", "geo": {"lat": "24.8918", "lng": "21.8984"}}, "phone": "210.067.6132", "website": "elvis.io", "company": {"name": "Johns Group", "catchPhrase": "Configurable multimedia task-force", "bs": "generate enterprise e-tailers"}}, {"id": 8, "name": "Nicholas Runolfsdottir V", "username": "Maxime_Nienow", "email": "Sherwood@rosamond.me", "address": {"street": "Ellsworth Summit", "suite": "Suite 729", "city": "Aliyaview", "zipcode": "45169", "geo": {"lat": "-14.3990", "lng": "-120.7677"}}, "phone": "586.493.6943 x140", "website": "jacynthe.com", "company": {"name": "Abernathy Group", "catchPhrase": "Implemented secondary concept", "bs": "e-enable extensible e-tailers"}}, {"id": 9, "name": "Glenna Reichert", "username": "Delphine", "email": "Chaim_McDermott@dana.io", "address": {"street": "Dayna Park", "suite": "Suite 449", "city": "Bartholomebury", "zipcode": "76495-3109", "geo": {"lat": "24.6463", "lng": "-168.8889"}}, "phone": "(775)976-6794 x41206", "website": "conrad.com", "company": {"name": "Yost and Sons", "catchPhrase": "Switchable contextually-based project", "bs": "aggregate real-time technologies"}}, {"id": 10, "name": "Clementina DuBuque", "username": "Moriah.Stanton", "email": "Rey.Padberg@karina.biz", "address": {"street": "Kattie Turnpike", "suite": "Suite 198", "city": "Lebsackbury", "zipcode": "31428-2261", "geo": {"lat": "-38.2386", "lng": "57.2232"}}, "phone": "024-648-3804", "website": "ambrose.net", "company": {"name": "Hoeger LLC", "catchPhrase": "Centralized empowering task-force", "bs": "target end-to-end models"}}]

str

### Looping Across Records to Extract Datapoints
While JSON is a well-organized and flexible data format that preserves a lot of the meaningful context of the data, most analytical tools and statistical models can only operate on tabular data. So a major challenge with JSON data is converting the data to a tabular format to be saved in a data frame. One method is to construct a loop across records to extract desired elements. 

Before we discuss this method, I do not recommend using this approach in general. Loops are usually slow, and it is much faster to perform these kinds of operations by **vectorizing** code. [Vectorizing](https://stackoverflow.com/questions/1422149/what-is-vectorization#1422181) refers to the ability of a programming language to operate on an entire vector of data and work on several elements simultaneously, rather than on each element one at a time. Vectorization is the specialty of the `numpy` library, and most functions in `pandas` are vectorized as well. I suggest using `pd.read_json()` and `pd.json_normalize()` to convert JSON data to a data frame as they will be several orders of magnitude faster for converting the entire JSON to a data frame. Looping make sense only when we need to extract a small number of features from JSON data with a large feature set, because with the loop we directly call the features we want and we can avoid having to work with features we don't need.

To start the loop, choose an index to represent one record. To display all of the email addresses, type:

In [39]:
for u in users_json:
    print(u['email'])

Sincere@april.biz
Shanna@melissa.tv
Nathan@yesenia.net
Julianne.OConner@kory.org
Lucio_Hettinger@annie.ca
Karley_Dach@jasper.info
Telly.Hoeger@billy.biz
Sherwood@rosamond.me
Chaim_McDermott@dana.io
Rey.Padberg@karina.biz

Alternatively, to place all of the email addresses in a list, you can loop inside of a list like this:

In [40]:
emails = [u['email'] for u in users_json]
emails

['Sincere@april.biz',
 'Shanna@melissa.tv',
 'Nathan@yesenia.net',
 'Julianne.OConner@kory.org',
 'Lucio_Hettinger@annie.ca',
 'Karley_Dach@jasper.info',
 'Telly.Hoeger@billy.biz',
 'Sherwood@rosamond.me',
 'Chaim_McDermott@dana.io',
 'Rey.Padberg@karina.biz']

The trick is extracting the data and saving it in a data frame at the same time. We can do this by using the `pd.DataFrame()` function, and using list loops inside this function:

In [23]:
users_df = pd.DataFrame(
    [u['name'], u['email'], u['company']['name']] for u in users_json
)
users_df.columns = ['name', 'email', 'company_name']
users_df

                       name                      email        company_name
0             Leanne Graham          Sincere@april.biz     Romaguera-Crona
1              Ervin Howell          Shanna@melissa.tv        Deckow-Crist
2          Clementine Bauch         Nathan@yesenia.net  Romaguera-Jacobson
3          Patricia Lebsack  Julianne.OConner@kory.org       Robel-Corkery
4          Chelsey Dietrich   Lucio_Hettinger@annie.ca         Keebler LLC
5      Mrs. Dennis Schulist    Karley_Dach@jasper.info   Considine-Lockman
6           Kurtis Weissnat     Telly.Hoeger@billy.biz         Johns Group
7  Nicholas Runolfsdottir V       Sherwood@rosamond.me     Abernathy Group
8           Glenna Reichert    Chaim_McDermott@dana.io       Yost and Sons
9        Clementina DuBuque     Rey.Padberg@karina.biz          Hoeger LLC

Please, note, there are many many ways to construct a loop to extract JSON elements into a dataframe. If you look on Stack Overflow, for example, you will see many different approaches, and it can be confusing. Find an approach that you understand and feel comfortable using, and go with that. There's not much difference between one loop and the next, as the real improvement comes from vectorization.

## Using `pd.read_json()` and `pd.json_normalize()` to Store JSON Data in a Data Frame
If there aren't too many features in the data, or if you want to keep all of the features in the data anyway, then the fastest and best way to convert JSON data to a tabular data frame depends on **whether or not the JSON data has metadata or a nested structure**.

### Situation 1: No nesting, no metadata

If the JSON has no nesting - that is, if every key is associated with a single datapoint, and no key is associated with a dictionary that contains additional features - and also does not include metadata, then use the following steps:

1. Use `requests.get()` to download the raw JSON data (unless you have another way of acquiring the raw data)

2. Use `pd.read_json()` on the `.text` attribute of the output of `requests.get()`

The result will be a dataframe in which the columns have the same names as the keys in the JSON file. For example, JSON Placeholder has an example JSON dataset that contains [random Latin posts to a blog](https://jsonplaceholder.typicode.com/posts). This JSON contains no metadata and no nesting. The best way to acquire this dataset and convert it to a dataframe is as follows:

In [43]:
posts = requests.get("https://jsonplaceholder.typicode.com/posts")
posts.text

'[\n  {\n    "userId": 1,\n    "id": 1,\n    "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",\n    "body": "quia et suscipit\\nsuscipit recusandae consequuntur expedita et cum\\nreprehenderit molestiae ut ut quas totam\\nnostrum rerum est autem sunt rem eveniet architecto"\n  },\n  {\n    "userId": 1,\n    "id": 2,\n    "title": "qui est esse",\n    "body": "est rerum tempore vitae\\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\\nqui aperiam non debitis possimus qui neque nisi nulla"\n  },\n  {\n    "userId": 1,\n    "id": 3,\n    "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",\n    "body": "et iusto sed quo iure\\nvoluptatem occaecati omnis eligendi aut ad\\nvoluptatem doloribus vel accusantium quis pariatur\\nmolestiae porro eius odio et labore et velit aut"\n  },\n  {\n    "userId": 1,\n    "id": 4,\n    "title": "eum et est occaecati",\n    "body": "ullam et saepe reiciendis voluptatem adipisci\\nsit amet autem assumenda provident rerum culpa\\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\\nquis sunt voluptatem rerum illo velit"\n  },\n  {\n    "userId": 1,\n    "id": 5,\n    "title": "nesciunt quas odio",\n    "body": "repudiandae veniam quaerat sunt sed\\nalias aut fugiat sit autem sed est\\nvoluptatem omnis possimus esse voluptatibus quis\\nest aut tenetur dolor neque"\n  },\n  {\n    "userId": 1,\n    "id": 6,\n    "title": "dolorem eum magni eos aperiam quia",\n    "body": "ut aspernatur corporis harum nihil quis provident sequi\\nmollitia nobis aliquid molestiae\\nperspiciatis et ea nemo ab reprehenderit accusantium quas\\nvoluptate dolores velit et doloremque molestiae"\n  },\n  {\n    "userId": 1,\n    "id": 7,\n    "title": "magnam facilis autem",\n    "body": "dolore placeat quibusdam ea quo vitae\\nmagni quis enim qui quis quo nemo aut saepe\\nquidem repellat excepturi ut quia\\nsunt ut sequi eos ea sed quas"\n  },\n  {\n    "userId": 1,\n    "id": 8,\n    "title": "dolorem dolore est ipsam",\n    "body": "dignissimos aperiam dolorem qui eum\\nfacilis quibusdam animi sint suscipit qui sint possimus cum\\nquaerat magni maiores excepturi\\nipsam ut commodi dolor voluptatum modi aut vitae"\n  },\n  {\n    "userId": 1,\n    "id": 9,\n    "title": "nesciunt iure omnis dolorem tempora et accusantium",\n    "body": "consectetur animi nesciunt iure dolore\\nenim quia ad\\nveniam autem ut quam aut nobis\\net est aut quod aut provident voluptas autem voluptas"\n  },\n  {\n    "userId": 1,\n    "id": 10,\n    "title": "optio molestias id quia eum",\n    "body": "quo et expedita modi cum officia vel magni\\ndoloribus qui repudiandae\\nvero nisi sit\\nquos veniam quod sed accusamus veritatis error"\n  },\n  {\n    "userId": 2,\n    "id": 11,\n    "title": "et ea vero quia laudantium autem",\n    "body": "delectus reiciendis molestiae occaecati non minima eveniet qui voluptatibus\\naccusamus in eum beatae sit\\nvel qui neque voluptates ut commodi qui incidunt\\nut animi commodi"\n  },\n  {\n    "userId": 2,\n    "id": 12,\n    "title": "in quibusdam tempore odit est dolorem",\n    "body": "itaque id aut magnam\\npraesentium quia et ea odit et ea voluptas et\\nsapiente quia nihil amet occaecati quia id voluptatem\\nincidunt ea est distinctio odio"\n  },\n  {\n    "userId": 2,\n    "id": 13,\n    "title": "dolorum ut in voluptas mollitia et saepe quo animi",\n    "body": "aut dicta possimus sint mollitia voluptas commodi quo doloremque\\niste corrupti reiciendis voluptatem eius rerum\\nsit cumque quod eligendi laborum minima\\nperferendis recusandae assumenda consectetur porro architecto ipsum ipsam"\n  },\n  {\n    "userId": 2,\n    "id": 14,\n    "title": "voluptatem eligendi optio",\n    "body": "fuga et accusamus dolorum perferendis illo voluptas\\nnon doloremque neque facere\\nad qui dolorum molestiae beatae\\nsed aut voluptas totam sit illum"\n  },\n  {\n    "userId": 2,\n    "id": 15,\n    "title": "eveniet quod temporibus",\n    "body": "reprehenderit quos placeat\\nvelit minima officia dolores impedit repudiandae molestiae nam\\nvoluptas recusandae quis delectus\\nofficiis harum fugiat vitae"\n  },\n  {\n    "userId": 2,\n    "id": 16,\n    "title": "sint suscipit perspiciatis velit dolorum rerum ipsa laboriosam odio",\n    "body": "suscipit nam nisi quo aperiam aut\\nasperiores eos fugit maiores voluptatibus quia\\nvoluptatem quis ullam qui in alias quia est\\nconsequatur magni mollitia accusamus ea nisi voluptate dicta"\n  },\n  {\n    "userId": 2,\n    "id": 17,\n    "title": "fugit voluptas sed molestias voluptatem provident",\n    "body": "eos voluptas et aut odit natus earum\\naspernatur fuga molestiae ullam\\ndeserunt ratione qui eos\\nqui nihil ratione nemo velit ut aut id quo"\n  },\n  {\n    "userId": 2,\n    "id": 18,\n    "title": "voluptate et itaque vero tempora molestiae",\n    "body": "eveniet quo quis\\nlaborum totam consequatur non dolor\\nut et est repudiandae\\nest voluptatem vel debitis et magnam"\n  },\n  {\n    "userId": 2,\n    "id": 19,\n    "title": "adipisci placeat illum aut reiciendis qui",\n    "body": "illum quis cupiditate provident sit magnam\\nea sed aut omnis\\nveniam maiores ullam consequatur atque\\nadipisci quo iste expedita sit quos voluptas"\n  },\n  {\n    "userId": 2,\n    "id": 20,\n    "title": "doloribus ad provident suscipit at",\n    "body": "qui consequuntur ducimus possimus quisquam amet similique\\nsuscipit porro ipsam amet\\neos veritatis officiis exercitationem vel fugit aut necessitatibus totam\\nomnis rerum consequatur expedita quidem cumque explicabo"\n  },\n  {\n    "userId": 3,\n    "id": 21,\n    "title": "asperiores ea ipsam voluptatibus modi minima quia sint",\n    "body": "repellat aliquid praesentium dolorem quo\\nsed totam minus non itaque\\nnihil labore molestiae sunt dolor eveniet hic recusandae veniam\\ntempora et tenetur expedita sunt"\n  },\n  {\n    "userId": 3,\n    "id": 22,\n    "title": "dolor sint quo a velit explicabo quia nam",\n    "body": "eos qui et ipsum ipsam suscipit aut\\nsed omnis non odio\\nexpedita earum mollitia molestiae aut atque rem suscipit\\nnam impedit esse"\n  },\n  {\n    "userId": 3,\n    "id": 23,\n    "title": "maxime id vitae nihil numquam",\n    "body": "veritatis unde neque eligendi\\nquae quod architecto quo neque vitae\\nest illo sit tempora doloremque fugit quod\\net et vel beatae sequi ullam sed tenetur perspiciatis"\n  },\n  {\n    "userId": 3,\n    "id": 24,\n    "title": "autem hic labore sunt dolores incidunt",\n    "body": "enim et ex nulla\\nomnis voluptas quia qui\\nvoluptatem consequatur numquam aliquam sunt\\ntotam recusandae id dignissimos aut sed asperiores deserunt"\n  },\n  {\n    "userId": 3,\n    "id": 25,\n    "title": "rem alias distinctio quo quis",\n    "body": "ullam consequatur ut\\nomnis quis sit vel consequuntur\\nipsa eligendi ipsum molestiae et omnis error nostrum\\nmolestiae illo tempore quia et distinctio"\n  },\n  {\n    "userId": 3,\n    "id": 26,\n    "title": "est et quae odit qui non",\n    "body": "similique esse doloribus nihil accusamus\\nomnis dolorem fuga consequuntur reprehenderit fugit recusandae temporibus\\nperspiciatis cum ut laudantium\\nomnis aut molestiae vel vero"\n  },\n  {\n    "userId": 3,\n    "id": 27,\n    "title": "quasi id et eos tenetur aut quo autem",\n    "body": "eum sed dolores ipsam sint possimus debitis occaecati\\ndebitis qui qui et\\nut placeat enim earum aut odit facilis\\nconsequatur suscipit necessitatibus rerum sed inventore temporibus consequatur"\n  },\n  {\n    "userId": 3,\n    "id": 28,\n    "title": "delectus ullam et corporis nulla voluptas sequi",\n    "body": "non et quaerat ex quae ad maiores\\nmaiores recusandae totam aut blanditiis mollitia quas illo\\nut voluptatibus voluptatem\\nsimilique nostrum eum"\n  },\n  {\n    "userId": 3,\n    "id": 29,\n    "title": "iusto eius quod necessitatibus culpa ea",\n    "body": "odit magnam ut saepe sed non qui\\ntempora atque nihil\\naccusamus illum doloribus illo dolor\\neligendi repudiandae odit magni similique sed cum maiores"\n  },\n  {\n    "userId": 3,\n    "id": 30,\n    "title": "a quo magni similique perferendis",\n    "body": "alias dolor cumque\\nimpedit blanditiis non eveniet odio maxime\\nblanditiis amet eius quis tempora quia autem rem\\na provident perspiciatis quia"\n  },\n  {\n    "userId": 4,\n    "id": 31,\n    "title": "ullam ut quidem id aut vel consequuntur",\n    "body": "debitis eius sed quibusdam non quis consectetur vitae\\nimpedit ut qui consequatur sed aut in\\nquidem sit nostrum et maiores adipisci atque\\nquaerat voluptatem adipisci repudiandae"\n  },\n  {\n    "userId": 4,\n    "id": 32,\n    "title": "doloremque illum aliquid sunt",\n    "body": "deserunt eos nobis asperiores et hic\\nest debitis repellat molestiae optio\\nnihil ratione ut eos beatae quibusdam distinctio maiores\\nearum voluptates et aut adipisci ea maiores voluptas maxime"\n  },\n  {\n    "userId": 4,\n    "id": 33,\n    "title": "qui explicabo molestiae dolorem",\n    "body": "rerum ut et numquam laborum odit est sit\\nid qui sint in\\nquasi tenetur tempore aperiam et quaerat qui in\\nrerum officiis sequi cumque quod"\n  },\n  {\n    "userId": 4,\n    "id": 34,\n    "title": "magnam ut rerum iure",\n    "body": "ea velit perferendis earum ut voluptatem voluptate itaque iusto\\ntotam pariatur in\\nnemo voluptatem voluptatem autem magni tempora minima in\\nest distinctio qui assumenda accusamus dignissimos officia nesciunt nobis"\n  },\n  {\n    "userId": 4,\n    "id": 35,\n    "title": "id nihil consequatur molestias animi provident",\n    "body": "nisi error delectus possimus ut eligendi vitae\\nplaceat eos harum cupiditate facilis reprehenderit voluptatem beatae\\nmodi ducimus quo illum voluptas eligendi\\net nobis quia fugit"\n  },\n  {\n    "userId": 4,\n    "id": 36,\n    "title": "fuga nam accusamus voluptas reiciendis itaque",\n    "body": "ad mollitia et omnis minus architecto odit\\nvoluptas doloremque maxime aut non ipsa qui alias veniam\\nblanditiis culpa aut quia nihil cumque facere et occaecati\\nqui aspernatur quia eaque ut aperiam inventore"\n  },\n  {\n    "userId": 4,\n    "id": 37,\n    "title": "provident vel ut sit ratione est",\n    "body": "debitis et eaque non officia sed nesciunt pariatur vel\\nvoluptatem iste vero et ea\\nnumquam aut expedita ipsum nulla in\\nvoluptates omnis consequatur aut enim officiis in quam qui"\n  },\n  {\n    "userId": 4,\n    "id": 38,\n    "title": "explicabo et eos deleniti nostrum ab id repellendus",\n    "body": "animi esse sit aut sit nesciunt assumenda eum voluptas\\nquia voluptatibus provident quia necessitatibus ea\\nrerum repudiandae quia voluptatem delectus fugit aut id quia\\nratione optio eos iusto veniam iure"\n  },\n  {\n    "userId": 4,\n    "id": 39,\n    "title": "eos dolorem iste accusantium est eaque quam",\n    "body": "corporis rerum ducimus vel eum accusantium\\nmaxime aspernatur a porro possimus iste omnis\\nest in deleniti asperiores fuga aut\\nvoluptas sapiente vel dolore minus voluptatem incidunt ex"\n  },\n  {\n    "userId": 4,\n    "id": 40,\n    "title": "enim quo cumque",\n    "body": "ut voluptatum aliquid illo tenetur nemo sequi quo facilis\\nipsum rem optio mollitia quas\\nvoluptatem eum voluptas qui\\nunde omnis voluptatem iure quasi maxime voluptas nam"\n  },\n  {\n    "userId": 5,\n    "id": 41,\n    "title": "non est facere",\n    "body": "molestias id nostrum\\nexcepturi molestiae dolore omnis repellendus quaerat saepe\\nconsectetur iste quaerat tenetur asperiores accusamus ex ut\\nnam quidem est ducimus sunt debitis saepe"\n  },\n  {\n    "userId": 5,\n    "id": 42,\n    "title": "commodi ullam sint et excepturi error explicabo praesentium voluptas",\n    "body": "odio fugit voluptatum ducimus earum autem est incidunt voluptatem\\nodit reiciendis aliquam sunt sequi nulla dolorem\\nnon facere repellendus voluptates quia\\nratione harum vitae ut"\n  },\n  {\n    "userId": 5,\n    "id": 43,\n    "title": "eligendi iste nostrum consequuntur adipisci praesentium sit beatae perferendis",\n    "body": "similique fugit est\\nillum et dolorum harum et voluptate eaque quidem\\nexercitationem quos nam commodi possimus cum odio nihil nulla\\ndolorum exercitationem magnam ex et a et distinctio debitis"\n  },\n  {\n    "userId": 5,\n    "id": 44,\n    "title": "optio dolor molestias sit",\n    "body": "temporibus est consectetur dolore\\net libero debitis vel velit laboriosam quia\\nipsum quibusdam qui itaque fuga rem aut\\nea et iure quam sed maxime ut distinctio quae"\n  },\n  {\n    "userId": 5,\n    "id": 45,\n    "title": "ut numquam possimus omnis eius suscipit laudantium iure",\n    "body": "est natus reiciendis nihil possimus aut provident\\nex et dolor\\nrepellat pariatur est\\nnobis rerum repellendus dolorem autem"\n  },\n  {\n    "userId": 5,\n    "id": 46,\n    "title": "aut quo modi neque nostrum ducimus",\n    "body": "voluptatem quisquam iste\\nvoluptatibus natus officiis facilis dolorem\\nquis quas ipsam\\nvel et voluptatum in aliquid"\n  },\n  {\n    "userId": 5,\n    "id": 47,\n    "title": "quibusdam cumque rem aut deserunt",\n    "body": "voluptatem assumenda ut qui ut cupiditate aut impedit veniam\\noccaecati nemo illum voluptatem laudantium\\nmolestiae beatae rerum ea iure soluta nostrum\\neligendi et voluptate"\n  },\n  {\n    "userId": 5,\n    "id": 48,\n    "title": "ut voluptatem illum ea doloribus itaque eos",\n    "body": "voluptates quo voluptatem facilis iure occaecati\\nvel assumenda rerum officia et\\nillum perspiciatis ab deleniti\\nlaudantium repellat ad ut et autem reprehenderit"\n  },\n  {\n    "userId": 5,\n    "id": 49,\n    "title": "laborum non sunt aut ut assumenda perspiciatis voluptas",\n    "body": "inventore ab sint\\nnatus fugit id nulla sequi architecto nihil quaerat\\neos tenetur in in eum veritatis non\\nquibusdam officiis aspernatur cumque aut commodi aut"\n  },\n  {\n    "userId": 5,\n    "id": 50,\n    "title": "repellendus qui recusandae incidunt voluptates tenetur qui omnis exercitationem",\n    "body": "error suscipit maxime adipisci consequuntur recusandae\\nvoluptas eligendi et est et voluptates\\nquia distinctio ab amet quaerat molestiae et vitae\\nadipisci impedit sequi nesciunt quis consectetur"\n  },\n  {\n    "userId": 6,\n    "id": 51,\n    "title": "soluta aliquam aperiam consequatur illo quis voluptas",\n    "body": "sunt dolores aut doloribus\\ndolore doloribus voluptates tempora et\\ndoloremque et quo\\ncum asperiores sit consectetur dolorem"\n  },\n  {\n    "userId": 6,\n    "id": 52,\n    "title": "qui enim et consequuntur quia animi quis voluptate quibusdam",\n    "body": "iusto est quibusdam fuga quas quaerat molestias\\na enim ut sit accusamus enim\\ntemporibus iusto accusantium provident architecto\\nsoluta esse reprehenderit qui laborum"\n  },\n  {\n    "userId": 6,\n    "id": 53,\n    "title": "ut quo aut ducimus alias",\n    "body": "minima harum praesentium eum rerum illo dolore\\nquasi exercitationem rerum nam\\nporro quis neque quo\\nconsequatur minus dolor quidem veritatis sunt non explicabo similique"\n  },\n  {\n    "userId": 6,\n    "id": 54,\n    "title": "sit asperiores ipsam eveniet odio non quia",\n    "body": "totam corporis dignissimos\\nvitae dolorem ut occaecati accusamus\\nex velit deserunt\\net exercitationem vero incidunt corrupti mollitia"\n  },\n  {\n    "userId": 6,\n    "id": 55,\n    "title": "sit vel voluptatem et non libero",\n    "body": "debitis excepturi ea perferendis harum libero optio\\neos accusamus cum fuga ut sapiente repudiandae\\net ut incidunt omnis molestiae\\nnihil ut eum odit"\n  },\n  {\n    "userId": 6,\n    "id": 56,\n    "title": "qui et at rerum necessitatibus",\n    "body": "aut est omnis dolores\\nneque rerum quod ea rerum velit pariatur beatae excepturi\\net provident voluptas corrupti\\ncorporis harum reprehenderit dolores eligendi"\n  },\n  {\n    "userId": 6,\n    "id": 57,\n    "title": "sed ab est est",\n    "body": "at pariatur consequuntur earum quidem\\nquo est laudantium soluta voluptatem\\nqui ullam et est\\net cum voluptas voluptatum repellat est"\n  },\n  {\n    "userId": 6,\n    "id": 58,\n    "title": "voluptatum itaque dolores nisi et quasi",\n    "body": "veniam voluptatum quae adipisci id\\net id quia eos ad et dolorem\\naliquam quo nisi sunt eos impedit error\\nad similique veniam"\n  },\n  {\n    "userId": 6,\n    "id": 59,\n    "title": "qui commodi dolor at maiores et quis id accusantium",\n    "body": "perspiciatis et quam ea autem temporibus non voluptatibus qui\\nbeatae a earum officia nesciunt dolores suscipit voluptas et\\nanimi doloribus cum rerum quas et magni\\net hic ut ut commodi expedita sunt"\n  },\n  {\n    "userId": 6,\n    "id": 60,\n    "title": "consequatur placeat omnis quisquam quia reprehenderit fugit veritatis facere",\n    "body": "asperiores sunt ab assumenda cumque modi velit\\nqui esse omnis\\nvoluptate et fuga perferendis voluptas\\nillo ratione amet aut et omnis"\n  },\n  {\n    "userId": 7,\n    "id": 61,\n    "title": "voluptatem doloribus consectetur est ut ducimus",\n    "body": "ab nemo optio odio\\ndelectus tenetur corporis similique nobis repellendus rerum omnis facilis\\nvero blanditiis debitis in nesciunt doloribus dicta dolores\\nmagnam minus velit"\n  },\n  {\n    "userId": 7,\n    "id": 62,\n    "title": "beatae enim quia vel",\n    "body": "enim aspernatur illo distinctio quae praesentium\\nbeatae alias amet delectus qui voluptate distinctio\\nodit sint accusantium autem omnis\\nquo molestiae omnis ea eveniet optio"\n  },\n  {\n    "userId": 7,\n    "id": 63,\n    "title": "voluptas blanditiis repellendus animi ducimus error sapiente et suscipit",\n    "body": "enim adipisci aspernatur nemo\\nnumquam omnis facere dolorem dolor ex quis temporibus incidunt\\nab delectus culpa quo reprehenderit blanditiis asperiores\\naccusantium ut quam in voluptatibus voluptas ipsam dicta"\n  },\n  {\n    "userId": 7,\n    "id": 64,\n    "title": "et fugit quas eum in in aperiam quod",\n    "body": "id velit blanditiis\\neum ea voluptatem\\nmolestiae sint occaecati est eos perspiciatis\\nincidunt a error provident eaque aut aut qui"\n  },\n  {\n    "userId": 7,\n    "id": 65,\n    "title": "consequatur id enim sunt et et",\n    "body": "voluptatibus ex esse\\nsint explicabo est aliquid cumque adipisci fuga repellat labore\\nmolestiae corrupti ex saepe at asperiores et perferendis\\nnatus id esse incidunt pariatur"\n  },\n  {\n    "userId": 7,\n    "id": 66,\n    "title": "repudiandae ea animi iusto",\n    "body": "officia veritatis tenetur vero qui itaque\\nsint non ratione\\nsed et ut asperiores iusto eos molestiae nostrum\\nveritatis quibusdam et nemo iusto saepe"\n  },\n  {\n    "userId": 7,\n    "id": 67,\n    "title": "aliquid eos sed fuga est maxime repellendus",\n    "body": "reprehenderit id nostrum\\nvoluptas doloremque pariatur sint et accusantium quia quod aspernatur\\net fugiat amet\\nnon sapiente et consequatur necessitatibus molestiae"\n  },\n  {\n    "userId": 7,\n    "id": 68,\n    "title": "odio quis facere architecto reiciendis optio",\n    "body": "magnam molestiae perferendis quisquam\\nqui cum reiciendis\\nquaerat animi amet hic inventore\\nea quia deleniti quidem saepe porro velit"\n  },\n  {\n    "userId": 7,\n    "id": 69,\n    "title": "fugiat quod pariatur odit minima",\n    "body": "officiis error culpa consequatur modi asperiores et\\ndolorum assumenda voluptas et vel qui aut vel rerum\\nvoluptatum quisquam perspiciatis quia rerum consequatur totam quas\\nsequi commodi repudiandae asperiores et saepe a"\n  },\n  {\n    "userId": 7,\n    "id": 70,\n    "title": "voluptatem laborum magni",\n    "body": "sunt repellendus quae\\nest asperiores aut deleniti esse accusamus repellendus quia aut\\nquia dolorem unde\\neum tempora esse dolore"\n  },\n  {\n    "userId": 8,

In [44]:
posts_df = pd.read_json(posts.text)
posts_df

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

### Situation 2: Nesting, but no metadata

If the JSON file contains nesting, but no metadata, then the best strategy is to

1. Use `requests.get()` to download the raw JSON data (unless you have another way of acquiring the raw data)

2. Use `json.loads()` on the `.text` attribute of the output from step 1 to register the data as a list in Python

3. Use the `pd.json_normalize()` function on the list that is the output of step 2

The `pd.json_normalize()` function stores every feature in the data in a separate column, no matter how many levels of nesting it must parse to find the feature. 

Every column has the same name as the key from which it drew the feature. For features that are nested within other features, `pd.json_normalize()` uses every key on the path to the datapoint to construct the column name, separated by periods. For example, the `users` data that we worked with above contains up to three levels of nesting. So the `lat` data is stored in a column named `address.geo.lat`, since we had to navigate to "address", then "geo", then "lat" in the JSON to find these data:

In [53]:
users = requests.get("https://jsonplaceholder.typicode.com/users")
users.text

'[\n  {\n    "id": 1,\n    "name": "Leanne Graham",\n    "username": "Bret",\n    "email": "Sincere@april.biz",\n    "address": {\n      "street": "Kulas Light",\n      "suite": "Apt. 556",\n      "city": "Gwenborough",\n      "zipcode": "92998-3874",\n      "geo": {\n        "lat": "-37.3159",\n        "lng": "81.1496"\n      }\n    },\n    "phone": "1-770-736-8031 x56442",\n    "website": "hildegard.org",\n    "company": {\n      "name": "Romaguera-Crona",\n      "catchPhrase": "Multi-layered client-server neural-net",\n      "bs": "harness real-time e-markets"\n    }\n  },\n  {\n    "id": 2,\n    "name": "Ervin Howell",\n    "username": "Antonette",\n    "email": "Shanna@melissa.tv",\n    "address": {\n      "street": "Victor Plains",\n      "suite": "Suite 879",\n      "city": "Wisokyburgh",\n      "zipcode": "90566-7771",\n      "geo": {\n        "lat": "-43.9509",\n        "lng": "-34.4618"\n      }\n    },\n    "phone": "010-692-6593 x09125",\n    "website": "anastasia.net",\n    "company": {\n      "name": "Deckow-Crist",\n      "catchPhrase": "Proactive didactic contingency",\n      "bs": "synergize scalable supply-chains"\n    }\n  },\n  {\n    "id": 3,\n    "name": "Clementine Bauch",\n    "username": "Samantha",\n    "email": "Nathan@yesenia.net",\n    "address": {\n      "street": "Douglas Extension",\n      "suite": "Suite 847",\n      "city": "McKenziehaven",\n      "zipcode": "59590-4157",\n      "geo": {\n        "lat": "-68.6102",\n        "lng": "-47.0653"\n      }\n    },\n    "phone": "1-463-123-4447",\n    "website": "ramiro.info",\n    "company": {\n      "name": "Romaguera-Jacobson",\n      "catchPhrase": "Face to face bifurcated interface",\n      "bs": "e-enable strategic applications"\n    }\n  },\n  {\n    "id": 4,\n    "name": "Patricia Lebsack",\n    "username": "Karianne",\n    "email": "Julianne.OConner@kory.org",\n    "address": {\n      "street": "Hoeger Mall",\n      "suite": "Apt. 692",\n      "city": "South Elvis",\n      "zipcode": "53919-4257",\n      "geo": {\n        "lat": "29.4572",\n        "lng": "-164.2990"\n      }\n    },\n    "phone": "493-170-9623 x156",\n    "website": "kale.biz",\n    "company": {\n      "name": "Robel-Corkery",\n      "catchPhrase": "Multi-tiered zero tolerance productivity",\n      "bs": "transition cutting-edge web services"\n    }\n  },\n  {\n    "id": 5,\n    "name": "Chelsey Dietrich",\n    "username": "Kamren",\n    "email": "Lucio_Hettinger@annie.ca",\n    "address": {\n      "street": "Skiles Walks",\n      "suite": "Suite 351",\n      "city": "Roscoeview",\n      "zipcode": "33263",\n      "geo": {\n        "lat": "-31.8129",\n        "lng": "62.5342"\n      }\n    },\n    "phone": "(254)954-1289",\n    "website": "demarco.info",\n    "company": {\n      "name": "Keebler LLC",\n      "catchPhrase": "User-centric fault-tolerant solution",\n      "bs": "revolutionize end-to-end systems"\n    }\n  },\n  {\n    "id": 6,\n    "name": "Mrs. Dennis Schulist",\n    "username": "Leopoldo_Corkery",\n    "email": "Karley_Dach@jasper.info",\n    "address": {\n      "street": "Norberto Crossing",\n      "suite": "Apt. 950",\n      "city": "South Christy",\n      "zipcode": "23505-1337",\n      "geo": {\n        "lat": "-71.4197",\n        "lng": "71.7478"\n      }\n    },\n    "phone": "1-477-935-8478 x6430",\n    "website": "ola.org",\n    "company": {\n      "name": "Considine-Lockman",\n      "catchPhrase": "Synchronised bottom-line interface",\n      "bs": "e-enable innovative applications"\n    }\n  },\n  {\n    "id": 7,\n    "name": "Kurtis Weissnat",\n    "username": "Elwyn.Skiles",\n    "email": "Telly.Hoeger@billy.biz",\n    "address": {\n      "street": "Rex Trail",\n      "suite": "Suite 280",\n      "city": "Howemouth",\n      "zipcode": "58804-1099",\n      "geo": {\n        "lat": "24.8918",\n        "lng": "21.8984"\n      }\n    },\n    "phone": "210.067.6132",\n    "website": "elvis.io",\n    "company": {\n      "name": "Johns Group",\n      "catchPhrase": "Configurable multimedia task-force",\n      "bs": "generate enterprise e-tailers"\n    }\n  },\n  {\n    "id": 8,\n    "name": "Nicholas Runolfsdottir V",\n    "username": "Maxime_Nienow",\n    "email": "Sherwood@rosamond.me",\n    "address": {\n      "street": "Ellsworth Summit",\n      "suite": "Suite 729",\n      "city": "Aliyaview",\n      "zipcode": "45169",\n      "geo": {\n        "lat": "-14.3990",\n        "lng": "-120.7677"\n      }\n    },\n    "phone": "586.493.6943 x140",\n    "website": "jacynthe.com",\n    "company": {\n      "name": "Abernathy Group",\n      "catchPhrase": "Implemented secondary concept",\n      "bs": "e-enable extensible e-tailers"\n    }\n  },\n  {\n    "id": 9,\n    "name": "Glenna Reichert",\n    "username": "Delphine",\n    "email": "Chaim_McDermott@dana.io",\n    "address": {\n      "street": "Dayna Park",\n      "suite": "Suite 449",\n      "city": "Bartholomebury",\n      "zipcode": "76495-3109",\n      "geo": {\n        "lat": "24.6463",\n        "lng": "-168.8889"\n      }\n    },\n    "phone": "(775)976-6794 x41206",\n    "website": "conrad.com",\n    "company": {\n      "name": "Yost and Sons",\n      "catchPhrase": "Switchable contextually-based project",\n      "bs": "aggregate real-time technologies"\n    }\n  },\n  {\n    "id": 10,\n    "name": "Clementina DuBuque",\n    "username": "Moriah.Stanton",\n    "email": "Rey.Padberg@karina.biz",\n    "address": {\n      "street": "Kattie Turnpike",\n      "suite": "Suite 198",\n      "city": "Lebsackbury",\n      "zipcode": "31428-2261",\n      "geo": {\n        "lat": "-38.2386",\n        "lng": "57.2232"\n      }\n    },\n    "phone": "024-648-3804",\n    "website": "ambrose.net",\n    "company": {\n      "name": "Hoeger LLC",\n      "catchPhrase": "Centralized empowering task-force",\n      "bs": "target end-to-end models"\n    }\n  }\n]'

In [54]:
users_json = json.loads(users.text)
users_json

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [55]:
users_df = pd.json_normalize(users_json)
users_df

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,Hoeger LLC,Centralized empowering task-force,target end-to-end models

### Situation 3: Metadata

Finally, if the JSON file contains metadata (regardless of whether or not the records contain nested data), follow these steps:

1. Use `requests.get()` to download the raw JSON data (unless you have another way of acquiring the raw data)

2. Use `json.loads()` on the `.text` attribute of the output from step 1 to register the data as a list in Python

3. Look at the data using a web-browser, or using the text that appears when the JSON object is called in Python, to decide on the path that is necessary to find the records

4. Use the `pd.json_normalize()` function on the list that is the output of step 2. But within this function, use the `record_path` parameter and set it equal to a list with the keys, in order, that lead to the record

5. Optionally, use the `meta` and `meta_prefix` parameters in `pd.json_normalize()` to store the metadata in the dataframe

For example, we can access a JSON file for the top 25 top posts at the moment on [Reddit's r/popular page](https://www.reddit.com/r/popular/) here: http://www.reddit.com/r/popular/top.json. If our goal is to construct a data frame with 25 rows, one for each post, we must find the path that leads to these data. Looking at the web-browser, the top-level has two keys: "kind" and "data". "kind" is simply metadata telling us that this file contains listings, and the data live in "data". Within this branch, there are four more metadata branches, "modhash", "dist", "before", and "after", and the data we need exist within "children". So the path we need is `["data", "children"]`. The code to construct the data frame we need is:

In [26]:
url = "http://www.reddit.com/r/popular/top.json"
reddit = requests.get(url, headers = {'User-agent': 'DS6001'})
reddit_json = json.loads(reddit.text)
reddit_df = pd.json_normalize(reddit_json, record_path = ["data", "children"])
reddit_df

,kind,data.approved_at_utc,data.subreddit,data.selftext,data.author_fullname,data.saved,data.mod_reason_title,data.gilded,data.clicked,data.title,...,data.media.oembed.author_name,data.media.oembed.height,data.media.oembed.width,data.media.oembed.html,data.media.oembed.thumbnail_width,data.media.oembed.version,data.media.oembed.provider_name,data.media.oembed.thumbnail_url,data.media.oembed.thumbnail_height,data.link_flair_template_id
0,t3,None,KidsAreFuckingStupid,,t2_jkwyx,False,None,1,False,My girl does a 50 meter run-up to kick a ball,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,t3,None,todayilearned,,t2_v51f9,False,None,2,False,TIL a Georgia teacher who bought a $400 travel...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,t3,None,pics,,t2_3nkxnuz0,False,None,7,False,"My painting today, “Faith and Fate”. Done with...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,t3,None,memes,,t2_47y2qd1c,False,None,0,False,Sully boi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,t3,None,mildlyinteresting,,t2_9zcsxqk,False,None,0,False,Our neighbors pet pig stays on their porch all...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,t3,None,aww,,t2_15d4m3,False,None,2,False,We adopted a senior doggo and he loves sleepin...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,t3,None,nextfuckinglevel,,t2_xduj3,False,None,1,False,Ref saves fighters head from hitting floor,...,Gfycat,337.0,600.0,"&lt;iframe class=""embedly-embed"" src=""https://...",444.0,1.0,Gfycat,https://thumbs.gfycat.com/FastValidBlackfish-s...,250.0,NaN
7,t3,None,funny,,t2_6fpnv,False,None,0,False,Mother-in-law just served me this piece of cak...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,t3,None,aww,,t2_ayyx6,False,None,1,False,Ocelot scratches!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,t3,None,funny,,t2_4cf674sy,False,None,1,False,Wiener of Shame!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,t3,None,nextfuckinglevel,,t2_3dtthbpp,False,None,3,False,I love watching talent progression!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,t3,None,memes,,t2_4dyr5fo8,False,None,3,False,Do not suggest anything to your boss in a boar...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,t3,None,interestingasfuck,,t2_ar7lvxr,False,None,0,False,Divers walking upside-down underneath ice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,t3,None,AskReddit,,t2_5e7f3bem,False,None,4,False,"Doctors of Reddit, what's the biggest case of ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,t3,None,therewasanattempt,,t2_r1i19,False,None,1,False,to protect and serve,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,t3,None,MadeMeSmile,,t2_16qd6g,False,None,5,False,I'm a lone dad that's shaved my head all my li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,t3,None,wholesomememes,,t2_344uuir9,False,None,0,False,Thank you mom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,t3,None,pcmasterrace,,t2_17am3d,False,None,1,False,$2.97 Headphone stand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6bd464aa-c51a-11e3-85ad-12313d163aa0
18,t3,None,WatchPeopleDieInside,,t2_1jtr3unj,False,None,0,False,"Realizing you're about to be guarded by a 7'4""...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,t3,None,aww,,t2_552sq4vz,False,None,0,False,Bath time,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,t3,None,comics,,t2_4jkot8yv,False,None,3,False,[OC] ..dog world problems,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,t3,None,gifs,,t2_ayyx6,False,None,1,False,Child is endlessly amused by kissing an orangu...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,t3,None,oddlysatisfying,,t2_3zdo30sv,False,None,1,False,Picture of the Sky from a plane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,t3,None,aww,,t2_8w94q,False,None,0,False,Synchronized wagging,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,t3,None,HolUp,,t2_3msic3xp,False,None,0,False,hol the fuck up,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Please note: we added `headers = {'User-agent': 'DS6001'}` to the `requests.get()` function. When we use `requests.get()`, we are accessing an API: a web-based interface for transferring data, usually in the form of JSON files. We will cover APIs in the next module. Most APIs, including Reddit's, include some security to keep any one user from overusing the API and causing it to crash. For Reddit, we only need to provide a unique "[User-agent](https://www.reddit.com/r/redditdev/comments/3qbll8/429_too_many_requests/)", which is an ID that Reddit uses to keep track of how much we are using the API. If two people use the same User-agent, both uses are counted against the same limit, so it's better to choose a User-agent that has a unique name. If this block of code results in an error for you (so that `reddit.text` displays as `'{"message": "Too Many Requests", "error": 429}'`), then change `DS6001` to something else, and it should work. 

To save the metadata in the data frame, use the `meta` parameter, set equal to a list of paths for each metadata feature you wish to store in the dataframe. In this case, to save the "kind" feature and the "after" feature within the "data" branch, I type `meta = ['kind', ['data', 'after']]`. Finally, because there is already a `kind` feature stored within the records, I must distinguish the metadata feature with a prefix. I use `meta_prefix='meta'` to place "meta" prior to the column names of the metadata.

Because metadata exist outside of the records, they will be constant across the rows in the dataframe. Here's the code to convert the Reddit data to a data frame while storing the metadata. Take a look at the resulting dataframe and scroll all the way to the right to see the two metadata columns:

In [27]:
url = "http://www.reddit.com/r/popular/top.json"
reddit = requests.get(url, headers = {'User-agent': 'DS6001'})
reddit_json = json.loads(reddit.text)
reddit_df = pd.json_normalize(reddit_json, 
                              record_path = ["data", "children"], 
                              meta = ['kind', ['data', 'after']], 
                              meta_prefix = "meta")
reddit_df

,kind,data.approved_at_utc,data.subreddit,data.selftext,data.author_fullname,data.saved,data.mod_reason_title,data.gilded,data.clicked,data.title,...,data.media.oembed.thumbnail_width,data.media.oembed.version,data.media.oembed.provider_name,data.media.oembed.thumbnail_url,data.media.oembed.type,data.media.oembed.thumbnail_height,data.media.type,data.link_flair_template_id,metakind,metadata.after
0,t3,None,KidsAreFuckingStupid,,t2_jkwyx,False,None,1,False,My girl does a 50 meter run-up to kick a ball,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
1,t3,None,todayilearned,,t2_v51f9,False,None,2,False,TIL a Georgia teacher who bought a $400 travel...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
2,t3,None,pics,,t2_3nkxnuz0,False,None,7,False,"My painting today, “Faith and Fate”. Done with...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
3,t3,None,memes,,t2_47y2qd1c,False,None,0,False,Sully boi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
4,t3,None,mildlyinteresting,,t2_9zcsxqk,False,None,0,False,Our neighbors pet pig stays on their porch all...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
5,t3,None,aww,,t2_15d4m3,False,None,2,False,We adopted a senior doggo and he loves sleepin...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
6,t3,None,nextfuckinglevel,,t2_xduj3,False,None,1,False,Ref saves fighters head from hitting floor,...,444.0,1.0,Gfycat,https://thumbs.gfycat.com/FastValidBlackfish-s...,video,250.0,gfycat.com,NaN,Listing,t3_f4t7mb
7,t3,None,funny,,t2_6fpnv,False,None,0,False,Mother-in-law just served me this piece of cak...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
8,t3,None,aww,,t2_ayyx6,False,None,1,False,Ocelot scratches!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
9,t3,None,funny,,t2_4cf674sy,False,None,1,False,Wiener of Shame!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
10,t3,None,nextfuckinglevel,,t2_3dtthbpp,False,None,3,False,I love watching talent progression!,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
11,t3,None,memes,,t2_4dyr5fo8,False,None,3,False,Do not suggest anything to your boss in a boar...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
12,t3,None,interestingasfuck,,t2_ar7lvxr,False,None,0,False,Divers walking upside-down underneath ice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
13,t3,None,AskReddit,,t2_5e7f3bem,False,None,4,False,"Doctors of Reddit, what's the biggest case of ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
14,t3,None,therewasanattempt,,t2_r1i19,False,None,1,False,to protect and serve,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
15,t3,None,MadeMeSmile,,t2_16qd6g,False,None,5,False,I'm a lone dad that's shaved my head all my li...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
16,t3,None,wholesomememes,,t2_344uuir9,False,None,0,False,Thank you mom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
17,t3,None,pcmasterrace,,t2_17am3d,False,None,1,False,$2.97 Headphone stand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6bd464aa-c51a-11e3-85ad-12313d163aa0,Listing,t3_f4t7mb
18,t3,None,WatchPeopleDieInside,,t2_1jtr3unj,False,None,0,False,"Realizing you're about to be guarded by a 7'4""...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
19,t3,None,aww,,t2_552sq4vz,False,None,0,False,Bath time,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
20,t3,None,comics,,t2_4jkot8yv,False,None,3,False,[OC] ..dog world problems,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
21,t3,None,gifs,,t2_ayyx6,False,None,1,False,Child is endlessly amused by kissing an orangu...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
22,t3,None,oddlysatisfying,,t2_3zdo30sv,False,None,1,False,Picture of the Sky from a plane,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
23,t3,None,aww,,t2_8w94q,False,None,0,False,Synchronized wagging,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb
24,t3,None,HolUp,,t2_3msic3xp,False,None,0,False,hol the fuck up,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Listing,t3_f4t7mb

## Saving JSON Files and Converting Data Frames to JSON
It is possible to save a JSON file to your local disk space, or to convert a dataframe to JSON and, if you want to, save that JSON to disk.

### Saving Existing JSON Files to Disk
Once we've used the `json.loads()` function to register data as JSON in Python, we can save that JSON to our local disk space by using `open()` to create a new file, and `json.dump()` (note: not `json.dumps()`) to save the JSON to that file.

For example, we registered the customer data as JSON in Python with the following code:

In [28]:
users = requests.get("https://jsonplaceholder.typicode.com/users")
users_json = json.loads(users.text)

To save this JSON file to my harddrive, I first use `os.chdir()` to set the working directory to the folder where I want to save my JSON file. (I omit that code here because it won't work on other people's computers.) Then I type:

In [29]:
with open('users.json', 'w') as outfile:
     json.dump(users_json, outfile, sort_keys = True, indent = 4,
               ensure_ascii = False)

It is also possible to use a file extension such as `.txt` instead of `.json` to save the JSON formatted data in a plain text file.

### Converting Tabular DataFrames to JSON
Any dataframe can be turned into a JSON file by applying the `.to_json()` method to the dataframe that is saved in Python's memory. The trick is specifying a good organization for this file. Recall that JSON structures are much more flexible than dataframes. It is not possible to go from a dataframe to a nested, complicated JSON structure because the information about nesting simply does not exist for dataframes. That said, there are several choices for organizing the data:

* `orient="records"` works with JSON files organized as a list-of-sets, where each set is an entire record (or a row in flat data):

In [30]:
users_df = users_df.loc[0:2,] # just keeping the first 3 records, for display purposes
new_json = users_df.to_json(orient="records")
json.loads(new_json)[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'address.street': 'Kulas Light',
 'address.suite': 'Apt. 556',
 'address.city': 'Gwenborough',
 'address.zipcode': '92998-3874',
 'address.geo.lat': '-37.3159',
 'address.geo.lng': '81.1496',
 'company.name': 'Romaguera-Crona',
 'company.catchPhrase': 'Multi-layered client-server neural-net',
 'company.bs': 'harness real-time e-markets'}

* `orient="columns"` works with JSON files organized as a list-of-dictionaries, where each dictionary is an entire column (the names are the row-names in the tabular data)

In [31]:
new_json = users_df.to_json(orient="columns")
json.loads(new_json)

{'id': {'0': 1, '1': 2, '2': 3},
 'name': {'0': 'Leanne Graham', '1': 'Ervin Howell', '2': 'Clementine Bauch'},
 'username': {'0': 'Bret', '1': 'Antonette', '2': 'Samantha'},
 'email': {'0': 'Sincere@april.biz',
  '1': 'Shanna@melissa.tv',
  '2': 'Nathan@yesenia.net'},
 'phone': {'0': '1-770-736-8031 x56442',
  '1': '010-692-6593 x09125',
  '2': '1-463-123-4447'},
 'website': {'0': 'hildegard.org', '1': 'anastasia.net', '2': 'ramiro.info'},
 'address.street': {'0': 'Kulas Light',
  '1': 'Victor Plains',
  '2': 'Douglas Extension'},
 'address.suite': {'0': 'Apt. 556', '1': 'Suite 879', '2': 'Suite 847'},
 'address.city': {'0': 'Gwenborough',
  '1': 'Wisokyburgh',
  '2': 'McKenziehaven'},
 'address.zipcode': {'0': '92998-3874', '1': '90566-7771', '2': '59590-4157'},
 'address.geo.lat': {'0': '-37.3159', '1': '-43.9509', '2': '-68.6102'},
 'address.geo.lng': {'0': '81.1496', '1': '-34.4618', '2': '-47.0653'},
 'company.name': {'0': 'Romaguera-Crona',
  '1': 'Deckow-Crist',
  '2': 'Romaguera-Jacobson'},
 'company.catchPhrase': {'0': 'Multi-layered client-server neural-net',
  '1': 'Proactive didactic contingency',
  '2': 'Face to face bifurcated interface'},
 'company.bs': {'0': 'harness real-time e-markets',
  '1': 'synergize scalable supply-chains',
  '2': 'e-enable strategic applications'}}

* `orient="split"` works with JSON files organized as dictionary with three lists: `columns` lists the column names, `index` lists the row names, and `data` is a list-of-lists of data points, one list for each row.

In [32]:
new_json = users_df.to_json(orient="split")
json.loads(new_json)

{'columns': ['id',
  'name',
  'username',
  'email',
  'phone',
  'website',
  'address.street',
  'address.suite',
  'address.city',
  'address.zipcode',
  'address.geo.lat',
  'address.geo.lng',
  'company.name',
  'company.catchPhrase',
  'company.bs'],
 'index': [0, 1, 2],
 'data': [[1,
   'Leanne Graham',
   'Bret',
   'Sincere@april.biz',
   '1-770-736-8031 x56442',
   'hildegard.org',
   'Kulas Light',
   'Apt. 556',
   'Gwenborough',
   '92998-3874',
   '-37.3159',
   '81.1496',
   'Romaguera-Crona',
   'Multi-layered client-server neural-net',
   'harness real-time e-markets'],
  [2,
   'Ervin Howell',
   'Antonette',
   'Shanna@melissa.tv',
   '010-692-6593 x09125',
   'anastasia.net',
   'Victor Plains',
   'Suite 879',
   'Wisokyburgh',
   '90566-7771',
   '-43.9509',
   '-34.4618',
   'Deckow-Crist',
   'Proactive didactic contingency',
   'synergize scalable supply-chains'],
  [3,
   'Clementine Bauch',
   'Samantha',
   'Nathan@yesenia.net',
   '1-463-123-4447',
   'ramiro.info',
   'Douglas Extension',
   'Suite 847',
   'McKenziehaven',
   '59590-4157',
   '-68.6102',
   '-47.0653',
   'Romaguera-Jacobson',
   'Face to face bifurcated interface',
   'e-enable strategic applications']]}

* `orient="index"` is like `orient="records"` but includes the name of each row in the data:

In [33]:
new_json = users_df.to_json(orient="index")
json.loads(new_json)

{'0': {'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'address.street': 'Kulas Light',
  'address.suite': 'Apt. 556',
  'address.city': 'Gwenborough',
  'address.zipcode': '92998-3874',
  'address.geo.lat': '-37.3159',
  'address.geo.lng': '81.1496',
  'company.name': 'Romaguera-Crona',
  'company.catchPhrase': 'Multi-layered client-server neural-net',
  'company.bs': 'harness real-time e-markets'},
 '1': {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'address.street': 'Victor Plains',
  'address.suite': 'Suite 879',
  'address.city': 'Wisokyburgh',
  'address.zipcode': '90566-7771',
  'address.geo.lat': '-43.9509',
  'address.geo.lng': '-34.4618',
  'company.name': 'Deckow-Crist',
  'company.catchPhrase': 'Proactive didactic contingency',
  'company.bs': 'synergize scalable supply-chains'},
 '2': {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'address.street': 'Douglas Extension',
  'address.suite': 'Suite 847',
  'address.city': 'McKenziehaven',
  'address.zipcode': '59590-4157',
  'address.geo.lat': '-68.6102',
  'address.geo.lng': '-47.0653',
  'company.name': 'Romaguera-Jacobson',
  'company.catchPhrase': 'Face to face bifurcated interface',
  'company.bs': 'e-enable strategic applications'}}

* `orient="values"` only contains the datapoints:

In [34]:
new_json = users_df.to_json(orient="values")
json.loads(new_json)

[[1,
  'Leanne Graham',
  'Bret',
  'Sincere@april.biz',
  '1-770-736-8031 x56442',
  'hildegard.org',
  'Kulas Light',
  'Apt. 556',
  'Gwenborough',
  '92998-3874',
  '-37.3159',
  '81.1496',
  'Romaguera-Crona',
  'Multi-layered client-server neural-net',
  'harness real-time e-markets'],
 [2,
  'Ervin Howell',
  'Antonette',
  'Shanna@melissa.tv',
  '010-692-6593 x09125',
  'anastasia.net',
  'Victor Plains',
  'Suite 879',
  'Wisokyburgh',
  '90566-7771',
  '-43.9509',
  '-34.4618',
  'Deckow-Crist',
  'Proactive didactic contingency',
  'synergize scalable supply-chains'],
 [3,
  'Clementine Bauch',
  'Samantha',
  'Nathan@yesenia.net',
  '1-463-123-4447',
  'ramiro.info',
  'Douglas Extension',
  'Suite 847',
  'McKenziehaven',
  '59590-4157',
  '-68.6102',
  '-47.0653',
  'Romaguera-Jacobson',
  'Face to face bifurcated interface',
  'e-enable strategic applications']]

To save these files to disk, specify a filename (using the `os.chdir()` function to change the working directory to the folder in which you save to save this file), or a filename and path, for the first parameter:

In [35]:
users_df.to_json("myjson.json", orient="values")